$purplish: #9999ff;
$gray:  #4d4d4d;

.product-box {
  border: solid $purplish 15px;
  padding: 10px;
  margin: 10px;
  float: left;
  text-align: center;
  background-color: #fff;
  color: $gray;
}

.description-box {
  background-color: #f2f2f2;
  padding: 5px;
  margin: 5px;
  text-align: left;
}

h1{
  color: $gray;
  font-size: 3.5em;
}

.container {
  float: right;
}

body {
  background-color: #eee6ff;
}