<div class="product-box">
  <img src="<%= @product.image %>"> <br>
  <%= @product.name %> <br>
  <%= @product.price %> <br>
  <div class="description-box">
    <%= @product.description %> <br>
  </div>
</div>
